:host {
  display: block;
}

.avatar-container {
  display: grid;
  grid-template-columns: 1fr 60px;
  justify-items: center;

  .avatar-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}
