<h2 mat-dialog-title>Nový uživatel</h2>
<mat-dialog-content>
  <form
    id="add-user-form"
    class="__form"
    [formGroup]="formControls()"
    (submit)="dialogRef.close(formControls().getRawValue())"
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Jméno"
        type="text"
        formControlName="name"
        required
      />
    </mat-form-field>
    <div class="avatar-container">
      <mat-form-field>
        <input
          matInput
          placeholder="URL avataru"
          type="text"
          formControlName="avatarUrl"
          required
        />
      </mat-form-field>
      <img
        src="{{ formControls().get('avatarUrl')?.value }}"
        alt="Avatar"
        class="avatar-image"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zrušit</button>
  <button
    form="add-user-form"
    color="primary"
    mat-raised-button
    [disabled]="!formControls().valid"
    type="submit"
  >
    Přidat uživatele
  </button>
</mat-dialog-actions>
