:host {
  display: block;
}

button {
  width: 56px;
  height: 56px;
  padding: 3px;

  &::ng-deep {
    .mdc-button__label {
      display: flex;
    }
  }

  .avatar-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
  }
}

.dialog-button {
  grid-row: 1;
  grid-column: 4;
}

.dialog-button:last-of-type {
  grid-column: 5;
}
